.container {
    background-color: #ffffff; /* White background for content */
    border-radius: 8px; /* Rounded corners for the container */
    padding: 20px; /* Padding around the container */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .project-card {
    border: 1px solid #B3B3B3; /* Light gray border for cards */
    border-radius: 8px; /* Rounded corners for cards */
  }
  .p-card:hover {
    border: 1px solid #d5d7db;
  }
  
  .card-title {
    color: #4E94F2; /* Blue color for card titles */
  }
  
  .btn-success {
    background-color: #28a745; /* Green for success button */
    border-color: #28a745; /* Match border color */
  }
  
  .btn-warning {
    background-color: #ffc107; /* Yellow for warning button */
    border-color: #ffc107; /* Match border color */
  }
  
  .btn-outline-primary {
    color: #4E94F2; /* Blue color for outline buttons */
    border-color: #4E94F2; /* Border color matching the theme */
  }
  
  .btn-outline-primary:hover {
    background-color: #4E94F2; /* Blue background on hover */
    color: #ffffff; /* White text on hover */
  }
  